body {
    display: flex;
    flex-direction: column;
    width:100%;
    background-color: yellow;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: #b1b100;
    border-radius: 20px;
    width: fit-content;
    align-self: center;
    flex-wrap: wrap;
}

.container div {
    margin: 1em;
}

.form {
    width: 300px;
    height: 340px;
}

.form div input {
    margin-bottom: 5px;
}

.form div label{
    width: 90px;
    text-align: right;
}

.form div button {
    align-self: end;
}

.favorite {
    width: 300px;
    height: 340px;
}

.pokemon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 200px;
    background-color: #b1b100;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.history {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}