<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Pokematch</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/css/pokematch.css" th:href="@{/css/pokematch.css}">
</head>
<body>
<div class="container">
    <div class="form">
        <form action="#" th:action="@{/pokematch}" method="post" th:object="${user}">
            <h2>Informations</h2>
            <div><label for="f">First Name:</label>
                <input id="f" type="text" th:field="*{firstName}">
                <span  th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Invalid First Name</span>
            </div>

            <div><label for="l">Last Name:</label>
                <input type="text" id="l" th:field="*{lastName}">
                <span  th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Invalid Last Name</span>
            </div>

            <div><button type="submit">Compute</button></div>
        </form>
    </div>

    <!-- Affichage du pokemon fetiche -->
    <div class="favorite">
        <div th:if="${pokemon}">
            <h2>Favorite pokemon : </h2>
            <div class="pokemon">
                <img th:src="@{'data:image/jpeg;base64,'+${pokemon.getImage(pokemon)}}" alt="image de pokemon"/>
                <p th:text="${pokemon.getName()}" style="text-align: center">
            </div>
        </div>
    </div>
</div>

<!-- Affichage de l'historique -->
<div th:if="${history != null && history.size() > 0}">
    <h2>History:</h2>
    <div class="history">
        <div th:each="p : ${history}">
            <div class="pokemon">
                <img th:src="@{'data:image/jpeg;base64,'+${p.getImage(p)}}" alt="image de pokemon"/>
                <p th:text="${p.getName()}" style="text-align: center">
            </div>
        </div>
    </div>
</div>
</body>
</html>